:root {
  --color-beige: #af9980;
  --color-beigeTranparent: #af998055;
  --color-beige-dark: #797258;
  --color-dark: #cfcbbb;
}

@font-face {
  font-family: "Vollkorn";
  src: url(./../assets/fonts/vollkorn.ttf);
}
