.game {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  canvas {
    max-width: 100%;
  }
  .dpad-wrapper {
    // preload hover states
    background: url(./../assets/images/dpad/n.svg) no-repeat -9999px -9999px,
      url(./../assets/images/dpad/s.svg) no-repeat -9999px -9999px,
      url(./../assets/images/dpad/w.svg) no-repeat -9999px -9999px,
      url(./../assets/images/dpad/e.svg) no-repeat -9999px -9999px;

    @media (pointer: fine) {
      display: none !important;
    }
    display: grid;
    justify-items: center;
    .dpad {
      background: url(./../assets/images/dpad/default.svg) center center
        no-repeat;
      display: grid;
      grid-gap: 0;
      grid-template-columns: 40px 30px 40px;
      grid-template-rows: 40px 30px 40px;
      grid-template-areas:
        ".... north ...."
        "west ..... east"
        ".... south ....";
      &.active-n {
        background-image: url(./../assets/images/dpad/n.svg);
      }
      &.active-s {
        background-image: url(./../assets/images/dpad/s.svg);
      }
      &.active-w {
        background-image: url(./../assets/images/dpad/w.svg);
      }
      &.active-e {
        background-image: url(./../assets/images/dpad/e.svg);
      }
      div {
        &:active {
          // background: rgba(0, 255, 255, 0.2);
        }
      }
      .n {
        grid-area: north;
      }
      .e {
        grid-area: east;
      }
      .w {
        grid-area: west;
      }
      .s {
        grid-area: south;
      }
    }
  }
}
