.highscore-list h1 {
  font-family: "Poppkorn";
  text-align: center;
  color: white;
  font-size: 50px;
}

.highscore-list .player {
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto 20px 40px 1fr auto;
}

.highscore-list .player .place {
  color: white;
}

.highscore-list .player .icon {
  justify-self: center;
  color: var(--color-blue-darker);
}
.highscore-list .player .alias {
  color: var(--color-blue-darker);
}
.highscore-list .player .name {
  color: var(--color-blue-dark);
}
.highscore-list .player .score {
  color: var(--color-yellow);
}

/* .highscoreList {
  text-transform: uppercase;
  display: grid;
  grid-gap: 20px;
}
.highscoreList .score {
  font-size: 30px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr auto;
}
.highscoreList .score small {
  font-size: 20px;
  color: var(--color-beigeTranparent);
}

.highscoreList .score.place-0 {
  font-size: 50px;
  line-height: 30px;
} */
