html,
body {
  font-family: Vollkorn, "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--color-beige-dark);
}

strong {
  color: var(--color-beige-light);
}

h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
}

a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div#root {
  display: grid;
  height: 100vh;
  row-gap: 20px;
  grid-template-rows: 100px 1fr;
}

div#root div.logo {
  display: grid;
  justify-items: center;
}

div#root div.logo a {
  display: block;
  width: 200px;
  height: 100%;
  background-size: contain;
}

input {
  background-color: transparent;
  font: inherit;
  outline: none;
  text-transform: inherit;
  border: none;
  text-transform: uppercase;
  color: red;
  border-bottom: 2px solid red;
  padding-left: 10px;
  display: block;
}

input::placeholder {
  color: var(--color-beigeTranparent);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  text-align: left;
  line-height: inherit;
  outline: none;
  text-transform: inherit;
  &[disabled] {
    cursor: auto;
  }
}

button:disabled,
input:disabled {
  opacity: 0.5;
}
