body.credits {
  background-color: red;
}
body.credits div#root div.logo a {
  background: url("./../assets/images/logo-white.svg") center center no-repeat;
}

body.highscore {
  background-color: green;
}
body.highscore div#root div.logo a {
  background: url("./../assets/images/logo-white.svg") center center no-repeat;
}
