@font-face {
  font-family: "Vollkorn";
  src: url("/fonts/vollkorn.ttf");
}

html,
body {
  font-family: Vollkorn, "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

div#root {
  display: grid;
  height: 100vh;
  background: #777;
  grid-template-rows: 1fr auto;

  canvas.game {
    align-self: center;
    justify-self: center;
    border-top: 5px solid #444;
    border-right: 5px solid #444;
    border-bottom: 5px solid #999;
    border-left: 5px solid #999;
  }

  .panel {
    display: grid;
    justify-items: center;
    .debug {
      color: #444;
      border-top: 5px solid #444;
      border-right: 5px solid #444;
      border-bottom: 5px solid #999;
      border-left: 5px solid #999;
      margin: 20px;
      padding: 20px;
    }
  }
}
