@font-face {
  font-family: "Vollkorn";
  src: url("/fonts/vollkorn.ttf");
}

html,
body {
  font-family: Vollkorn, "Courier New", Courier, monospace;
  /* text-transform: uppercase; */
  font-size: 18px;
  margin: 0;
  padding: 0;
}

div#root {
  display: grid;
  height: 100vh;
  background: #777;
  grid-template-rows: 1fr auto;
}

canvas.game {
  align-self: center;
  justify-self: center;
}

.panel {
  background: red;
  padding: 20px 0;
  display: grid;
}

.debug {
}
