:root {
  --color-beige: #af9980;
  --color-beige-dark: #797258;
  --color-dark: #282828;
}

@font-face {
  font-family: "Vollkorn";
  src: url("/fonts/vollkorn.ttf");
}

html,
body {
  font-family: Vollkorn, "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--color-beige);
  background-color: var(--color-dark);
}

strong {
  color: var(--color-dark);
}

h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
}

a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hide {
  display: none;
}

div#root {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px 1fr auto;
  div.logo {
    background: url("/images/logo.svg") center center no-repeat;
    background-size: 200px;
  }

  canvas.game {
    max-width: 100%;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
  }

  .panel {
    display: grid;
    justify-items: center;
    .dpad {
      @media (pointer: fine) {
        display: none !important;
      }
      margin: 20px;
      padding: 20px;
      justify-content: center;
      align-self: center;
      justify-self: center;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 40px 25px 40px;
      grid-template-rows: 40px 25px 40px;
      grid-template-areas:
        "...... up ......"
        "left ...... right"
        "...... down ......";
      div {
        background: var(--color-beige);
        border-top: 4px solid var(--color-beige-dark);

        &:active,
        &.active {
          border-top: 0;
          border-top: 2px solidvar(--color-beige-dark);
        }
      }
      .up {
        border-radius: 0.25em 0.25em 0 0;
        grid-area: up;
      }
      .right {
        border-radius: 0 0.25em 0 0;
        grid-area: right;
      }
      .left {
        border-radius: 0.25em 0 0 0;
        grid-area: left;
      }
      .down {
        border-radius: 0.25em 0.25em 0 0;
        grid-area: down;
      }
    }

    .debug-wrapper {
      width: 100%;
      background: var(--color-beige);
      color: var(--color-dark);
      a.toggle-debugger {
        cursor: pointer;
        display: inline-block;
        height: 30px;
        margin-top: -30px;
        background: var(--color-beige);
        color: var(--color-dark);
        padding: 0 20px;
        position: absolute;
      }
    }

    .debug {
      display: grid;
      grid-template-columns: minmax(max-content, 400px);
      justify-content: center;
      h1 {
        text-align: center;
      }
      .row {
        display: grid;
        grid-template-columns: 1fr auto;
      }
      padding: 20px;
    }
  }
}
